@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 98%;

    --card: 0 0% 2%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 2%;
    --popover-foreground: 0 0% 98%;

    --initial: 175 99% 31%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  transition-property: opacity, background-color, transform, filter,
    pointer-events;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

*::-webkit-scrollbar {
  display: none;
}

*::selection {
  color: hsl(var(--foreground));
  background-color: hsl(var(--initial));
}
